body {
    background-color: #eee;
    color: #444; 
    font-size: 14px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px; 
}

a {
    color: #2d75b9;
    text-decoration: none;
}
a:hover {
    color: #f05151;
}

b {
    color: rgb(40, 126, 23);
}

.research-image {
    max-height: 150px;
    max-width: 210px;
}

.div_main {
    background-color: #fff;
    margin: auto; 
    width: 800px; 
    padding:50px;
}

.cmti-10{
    font-style:italic; 
}
.lipublication{
    font-size:90%; 
    margin-bottom:15px; 
}

