
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    padding: 0px; 
    margin: 0px; 
}

.banner {
    width: 100%; 
    text-align: center; 
    padding: 0px; 
    margin: 0px; 
    background-color: #333;    
    color: #fb902b;
    padding-top: 15px; 
    padding-bottom: 15px; 
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    margin-bottom: 350px; 
    /* border-radius: 7px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.heading {
    text-align: center;
}

.header-image {
    max-width:100%;
    width:100%;
}

.author {
    /* font-style: italic; */
    color: #777; 
}

.date {
    font-style: normal;
    color: #777;
}

h1 {
    font-size: 2em;
    /* color: #c93b3b; */
    color: #333;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding: 0px; 
    margin: 0px; 
}

h1::first-letter {
    color: #fb902b;
    font-size: 161.8%;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1rem;
}

h2 {
    font-size: 1.5em;
    color: #999;
    padding: 0px; 
}

p {
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

a {
    text-decoration: none;
    color: #494;
}

a:hover {
    color: #449;
    text-decoration: underline;
}

blockquote {
    background-color: #ddd;
    padding: 10px 30px 10px 30px; 
    /* font-style: italic; */
    border-radius: 7px;
}

.bibliography {
    font-size: 0.9em; 
    color: #666; 
}

@media (max-width: 600px) {
    body {
        padding: 8px;
    }
    
    .container {
        padding: 8px;
    }
    
    h1 {
        font-size: 1.75em;
    }
    
    h2 {
        font-size: 1.25em;
    }
    
    p {
        font-size: 0.9em;
    }

    blockquote {
        padding: 10px 10px 10px 10px; 
        margin: 0px; 
    }
}
